* {
    margin: 0;
}

body {
    background-color: rgb(97, 97, 97);
}

/*---------INICIO LOGO---------*/
.headerlogo {
    background-color: rgb(8, 7, 7);
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo {
    display: flex;
    text-align: center;
}
/*---------FIN LOGO---------*/

/*---------NAVEGADOR---------*/
.headernav {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.headernav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
}

.headernav ul li a {
    color: grey;
    text-decoration: none;
}

.headernav ul li button {
    background-color: rgb(165, 165, 165);
    color: rgb(0, 0, 0);
    border-radius: 15%;
}

.btn_menu {
    display: none;
}
/*---------FIN DEL NAVEGADOR---------*/

.modoclaro{
    background-color: rgb(255, 255, 255);
}


.btnmodo{
        display: flex;
        flex-direction: initial;
        width: 15%;
        background-color:rgb(8, 7, 7);
        color: rgb(8, 7, 7); 
        font-size: 10%; 
        text-align: center; 
        width: auto;
}

button {
    background-color: rgb(43, 43, 43);
    color: rgb(139, 139, 139);
    font-size: large; 
}






/*---------NAVEGADOR CELULAR---------*/
@media (max-width: 768px) {
    .headernav {
        justify-content: left;
        align-items: left;
    }

    ul.movilfirst {
        display: none;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    ul.movilfirst.show, ul.movilfirst li {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: left;
        align-items: left;
        margin-left: 2%;
    }

    div.btn_menu {
        display: flex;
        background-color: black;
        color: grey;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid black;
    }

    .imgmobile {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 150%;
    }
}
/*---------FIN DEL NAVEGADOR CELULAR---------*/

/*---------TABLAS---------*/
table, td, tr, th {
    border: 1px solid rgb(108, 107, 107);
    border-collapse: collapse;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #000000;
    font-size: 50%;
}

table {
    width: 965px;
    height: 500px;
    margin: 25px;
}

th {
    background-color: rgb(24, 0, 204);
    color: #ffffff;
}

.trcentro1 {
    text-align: center;
}

.contenedortabla {
    display: flex;
    justify-content: center;
}
/*---------FIN TABLAS---------*/

/*---------IMAGENES---------*/
.img {
    display: flex;
    justify-content: center;
    width: auto;
    height: 400px;
}

div.letras4 img, div.letras3 img {
    width: 40%;
}
.center1 {

    display: flex;
    justify-content: center;
    margin-top: 2%;


}
/*---------FIN IMAGENES---------*/

/*---------TEXTOS---------*/
p, .familytxt {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #ffffff;
    font-size: 18px;
    list-style-type: none;
}

.fonttitulo {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.letras2 {
    display: flex;
    color: rgb(24, 0, 204);
    font-style: italic;
    font-size: 700%;
    justify-content: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
}

.letras3, .letras4 {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.letras3 h1 a {
    color: rgb(204, 0, 0);
    font-size: 200%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 10;
    width: auto;
}

.letras4 h1 a {
    color: rgb(24, 0, 204);
    font-size: 200%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    width: auto;
}

ul{

padding: 5%;


}

ul li.fonttitulo {
    color: white;
}

ul li.familytxt {
    padding: 0;
    color: white;
    text-align: center;
    margin: 0;
}

.familytxt a {
    color: white;
    text-decoration: none;
}

.familytxt a:hover {
    color: grey;
}
/*---------FIN TEXTOS---------*/

/*---------FOOTER---------*/
.contenedorfooter {
    color: black;
    margin: 0;
    display: flex;
    background-color: black;
}

.contenedorfooter ul li {
    list-style-type: none;
}
/*---------FIN FOOTER---------*/
